
.title {
  background-color: rgb(33, 66, 156);
  background-image:linear-gradient(to right, rgb(255, 158, 0) 0%, rgb(255, 0, 0) 25%, rgb(181, 0, 125) 50%, rgb(33, 66, 156) 75%, rgb(0, 113, 255) 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  background-clip:text;
  -moz-text-fill-color: transparent;
}

body, html {
  height: 100%;
  width:100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.pulse {
  animation: pulse 3s;
}

@keyframes pulse {
  0% {
    font-variation-settings: 'wght' 100;
  }
  50% {
    font-variation-settings: 'wght' 500;
  }
  75% {
    font-variation-settings: 'wght' 100;
  }
  90% {
    font-variation-settings: 'wght' 300;
  }
  100% {
    font-variation-settings: 'wght' 500;
  }
}

#navbar {
    display: block;
    background-image:linear-gradient(to right, rgb(255, 158, 0) 0%, rgb(255, 0, 0) 25%, rgb(181, 0, 125) 50%, rgb(33, 66, 156) 75%, rgb(0, 113, 255) 100%);
    color:rgb(255, 255, 255);
    padding: 0.25em;
}

.material-symbols-outlined {
  font-size: 200%;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert {
  position: relative;
  top: 50%;
  left: 50%;
}

.headline {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%);
}

.foot {
    background-color: rgba(0,0,0,0.01);
    color:rgb(33, 66, 156);
    font-size: 75%;
    position: relative;
    bottom: 0;
    width: 100%;
}

a, a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.gappedR {
  margin-right: 10px;
}

.gappedL {
  margin-left: 10px;
}

.flashes {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.flashes li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.flashes .success {
    background-color: rgb(33, 66, 156);
    color: white;
    border-color: rgb(0, 113, 255);
}

.flashes .error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}
